---
import GitHub from "./icons/GitHub.astro"
import Java from "./icons/Java.astro"
import MySQL from "./icons/MySQL.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Spring from "./icons/Spring.astro"
import Docker from "./icons/Docker.astro"
import React from "./icons/React.astro"
import Wordpress from "./icons/Wordpress.astro"
import Postgres from "./icons/PostgreSQL.astro"
import Next from "./icons/Next.astro"
import Tailwind from "./icons/Tailwind.astro"
import GoDaddy from "./icons/GoDaddy.astro"
import Angular from "./icons/Angular.astro"
import Express from "./icons/Express.astro"
import Node from "./icons/Node.astro"
import Vercel from "./icons/Vercel.astro"

const TAGS = {
  SPRING: {
    name: "Spring",
    class: "bg-white text-black",
    icon: Spring,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#F29111] text-white",
    icon: MySQL,
  },
  POSTGRESQL: {
    name: "PosgreSQL",
    class: "bg-white text-black",
    icon: Postgres,
  },
  JAVA: {
    name: "Java",
    class: "bg-[#433331] text-white",
    icon: Java,
  },
  DOCKER: {
    name: "Docker",
    class: "bg-black text-white",
    icon: Docker,
  },
  REACT: {
    name: "React",
    class: "bg-black text-white",
    icon: React,
  },
  WORDPRESS: {
    name: "Wordpress",
    class: "bg-white text-black",
    icon: Wordpress,
  },
  NEXT: {
    name: "Next.js",
    class: "bg-[#003785] text-white",
    icon: Next,
  },
  TAILWIND: {
    name: "TailwindCSS",
    class: "bg-black text-white",
    icon: Tailwind,
  },
  GODADDY: {
    name: "GoDaddy",
    class: "bg-[#1BDBDB] text-black",
    icon: GoDaddy,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-[#270dad] text-white",
    icon: Angular,
  },
  EXPRESS: {
    name: "Express.js",
    class: "bg-[#2e4db1] text-white",
    icon: Express,
  },
  NODE: {
    name: "Node.js",
    class: "bg-[#90ba08] text-black",
    icon: Node,
  },
  VERCEL: {
    name: "Vercel",
    class: "bg-black text-white",
    icon: Vercel,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-white text-black",
    icon: Astro,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-black text-white",
    icon: JavaScript,
  },
  CSS: {
    name: "Css",
    class: "bg-white text-black",
    icon: Css,
  },
  SHOPIFY: {
    name: "Shopify",
    class: "bg-black text-white",
    icon: Shopify,
  },
}
const PROJECTS = [
{
    title: "Savitri Shop Store",
    description:
      "E-commerce desarrollado en Shopify usando Astro, Liquid, JavaScript y CSS. Permite gestionar pedidos, administrar entregas e inventario además de procesar pagos con tarjetas, Yape o Plin a través Culqui ",
    link: "https://www.savitri.pe/",
    image: "/projects/savitri.webp",
    tags: [TAGS.ASTRO, TAGS.JAVASCRIPT, TAGS.CSS, TAGS.SHOPIFY],
  },
{
    title: "Sho-Bonsai Store",
    description:
      "Página web realizada manualmente desde cero en Angular con TailwindCSS y Typescript. Integra la API REST de eBay para obtener los datos de productos a través de un servidor Proxy propio realizado en Node.js y Express.js para superar la restricción por CORS. Tanto el front-end como el back-end han sido desplegados en Vercel.",
    github: "https://github.com/ChristianP-7/sho-bonsai.git",
    link: "https://sho-bonsai.vercel.app/",
    image: "/projects/sho-bonsai.webp",
    tags: [TAGS.ANGULAR, TAGS.TAILWIND, TAGS.NODE, TAGS.EXPRESS, TAGS.VERCEL],
  },
  
  {
    title: "Página Web de Noticias",
    description:
      "Página web de noticias en formato blog que implementa varios widgets además de categorías y paginación. Desarrollado y administrado enteramente con Wordpress y alojado en un hosting de GoDaddy.",
    link: "https://elpuebloperuano.com/",
    image: "/projects/pueblo-peruano.webp",
    tags: [TAGS.WORDPRESS, TAGS.GODADDY],
  },

{
    title: "MediLatam",
    description:
      "La aplicación de telemedicina que permite a los pacientes tener consultas médicas mediante videollamadas y otros medios de comunicación, todo desde la comodidad de sus hogares. Los médicos pueden acceder a la historia clínica del paciente durante la consulta, mientras que el personal administrativo del centro médico puede gestionar las reuniones y otras funciones de la aplicación.",
    link: "https://medilatam.vercel.app/dashboard",
    github: "https://github.com/ChristianP-7/c17-49-n-java",
    image: "/projects/medilatam.webp",
    tags: [TAGS.JAVA, TAGS.SPRING, TAGS.NEXT, TAGS.POSTGRESQL, TAGS.TAILWIND],
  },

  {
    title: "API REST para gestionar clientes",
    description:
      "API REST que permite hacer operaciones CRUD con una lista de clientes, y todo interactuando con una base de datos propia. Creado desde cero en Java con Spring Boot, utilizando JPA implementado en Hibernate, con una base de datos gestionada por PostgreSQL además del uso de React para el Frontend. (Tener paciencia al abrir porque el servidor tarda en iniciar)",

    link: "https://clientes-gestion.vercel.app/",
    github: "https://github.com/ChristianP-7/clientes-gestion",
    image: "/projects/gestion-clientes.webp",
    tags: [TAGS.JAVA, TAGS.SPRING, TAGS.REACT, TAGS.POSTGRESQL, TAGS.DOCKER],
  },


]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="proyecto1" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



